<%= form_with(model: user, html: {class: 'form'}) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= t 'global.forms.messages.errors', count:user.errors.count %> :</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="email">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email , class: "email-input" %>  
  </div>
  <div class="preferences">
    <p class="preferences-title"><%= t 'preference'%></p>    
      <% Preference.all.each do |preference| %>   
        <div class="checkbox">
          <%= check_box_tag "user[preference_ids][]", preference.id,nil , id: "user_preference_ids_#{preference.id}" %>
          <%= label_tag "user[preference_ids][#{preference.id}]", preference.title %>
        </div>  
      <% end %>      
  </div>  
  <%= form.submit t('button'), class: 'button-submit'%>
<% end %>
